<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>guchokipa</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Get Lec02!</h1>

  <div th:if="${yourname}">
    Hi [[${yourname}]]
  </div>

  <h2>エントリー</h2>
  <li th:each="user : ${userlist}"><a th:href="@{/lec02/match(id=${user.id})}"> [[${user.name}]]</a></li>

  <h2>アクティブな試合</h2>

  <div th:each="matchtrue:${matchtrue}">
    <td>[[${matchtrue.id}]]</td>
    <td>[[${matchtrue.user1}]]</td>
    <td>[[${matchtrue.user2}]]</td>
    <td>[[${matchtrue.user1Hand}]]</td>
  </div>


  <h2>試合結果</h2>
  <div th:each="matchlist,stat:${matchlist}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>id:[[${matchlist.id}]]</td>
      <td>user1:[[${matchlist.user1}]]</td>
      <td>user2:[[${matchlist.user2}]]</td>
      <td>user1Hand:[[${matchlist.user1Hand}]]</td>
      <td>user2Hand:[[${matchlist.user2Hand}]]</td>
    </tr>
  </div>

</body>

</html>
